.header {
    height: 64px;
    padding: 0;
    width: 100%;
    background: @color-yellow;

    display: flex;
    justify-content: center;
    align-items: center;

    .content-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: auto 0;

    max-width: 703px;
}

.header-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}