<div class="namespace-provision-page">

  <div class="banner-left">
    <div class="container">
      <h2><i class="fa fa-hashtag"></i> {{ 'RENEW_NS_TITLE' | translate }}</h2>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-md-6">

       <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-chevron-right"></i>
              <span ng-show="!$ctrl.formData.isMultisig">{{ 'NAMESPACE_PROVISION_NAME' | translate }}</span>
              <span ng-show="$ctrl.formData.isMultisig">{{ 'NAMESPACE_PROVISION_MULTISIG_NAME' | translate }}</span>
              <ul class="nav nav-tabs">
                <li ng-class="$ctrl.formData.isMultisig ? '' : 'active'"><a ng-click="$ctrl.formData.isMultisig = false;$ctrl.updateCurrentAccountNS();">{{ 'GENERAL_TAB_NORMAL' | translate }}</a></li>
                <li ng-show="$ctrl._DataBridge.accountData.meta.cosignatoryOf.length" ng-class="$ctrl.formData.isMultisig ? 'active' : ''"><a ng-click="$ctrl.formData.isMultisig = true;$ctrl.updateCurrentAccountNS();">{{ 'GENERAL_TAB_MULTISIG' | translate }}</a></li>
              <ul>
            </div>
            <div class="panel-body">

               <fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="{{ 'FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}"
                ng-model="$ctrl.common.password"/>
            </fieldset>

            <fieldset class="form-group" ng-show="$ctrl.formData.isMultisig">
             <select class="form-control" ng-options="acc.address for acc in $ctrl._DataBridge.accountData.meta.cosignatoryOf track by acc.address" ng-model="$ctrl.formData.multisigAccount" ng-change="$ctrl.updateCurrentAccountNS();">
            </select>
            </fieldset>

            <fieldset class="form-group" ng-show="$ctrl.formData.multisigAccount && $ctrl.formData.isMultisig">
              <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" disabled>{{ 'FORM_SIDE_BTN_BALANCE' | translate }}</button>
                </span>
                <input class="form-control" type="text" value="{{ ($ctrl.formData.multisigAccount.balance | fmtNemValue)[0] }}.{{ ($ctrl.formData.multisigAccount.balance | fmtNemValue)[1] }}" readOnly/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled><small>XEM</small></button>
                </span>
              </div>
            </fieldset>

            <fieldset class="form-group" ng-show="$ctrl.needRenew">
               <label>{{ 'GENERAL_NAMESPACES' | translate }}</label>
              <select class="form-control" ng-options="namespace.fqn as namespace.fqn for namespace in $ctrl.cleanArray($ctrl._DataBridge.namespaceOwned[$ctrl.currentAccount])" ng-model="$ctrl.formData.namespaceName" ng-change="$ctrl.updateFees()">
            </select>
            </fieldset>

            <fieldset class="form-group" ng-show="!$ctrl.needRenew">
               <label>{{ 'GENERAL_NAMESPACES' | translate }}</label>
              <input class="form-control" value="{{ 'RENEW_NS_NONE' | translate }}" disabled />
            </fieldset>

            <fieldset class="form-group">
            <input type="text" class="form-control" ng-model="$ctrl.formData.rentalFeeSink" readOnly>
            </fieldset>

             <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled>{{ 'FORM_SIDE_BTN_TX_FEE' | translate }}</button>
                </span>
                <p>
                  <span>
                   <span ng-show="$ctrl.formData.isMultisig">{{($ctrl.formData.innerFee | fmtNemValue)[0]}}.{{($ctrl.formData.innerFee | fmtNemValue)[1]}} +</span>
                  <span>{{($ctrl.formData.fee | fmtNemValue)[0]}}.{{($ctrl.formData.fee | fmtNemValue)[1]}}</span>
                </span>
                </p>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" disabled><small>XEM</small></button>
                </span>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled>{{ 'FORM_SIDE_BTN_RENTAL_FEE' | translate }}</button>
                </span>
                <p>
                  <span>
                    {{($ctrl.formData.rentalFee | fmtNemValue)[0]}}.{{($ctrl.formData.rentalFee | fmtNemValue)[1]}}
                </span>
                </p>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" disabled><small>XEM</small></button>
                </span>
              </div>
            </fieldset>

            <button class="btn btn-success pull-xs-right"
              type="submit" ng-disabled="$ctrl.okPressed || !$ctrl.common.password.length || !$ctrl.formData.namespaceName.length || !$ctrl.namespaceIsValid($ctrl.formData.namespaceName)" ng-click="$ctrl.send()">
              <i class="fa fa-angle-double-right"></i> {{ 'GENERAL_RENEW' | translate }}
            </button>

          </fieldset>
            </div>
          </div>

    </div>

    <div class="col-md-6 noPaddingLeft">

       <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-info-circle"></i> {{ 'GENERAL_INFORMATION' | translate }}
            </div>
            <div class="panel-body">
              <p>{{ 'RENEW_NS_INFORMATION_1' | translate }}</p>
              <p>{{ 'RENEW_NS_INFORMATION_2' | translate }}</p>
            </div>
          </div>
        </div>

  </div>

</div>
