.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 182px;
    padding: 11px 28px 10px;
    color: @color-green;
    font: var(--font-nem-button-text);
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-align: center;
    text-transform: var(--typography-nem-button-text-text-case);
    background: transparent;
    border: 1px solid @color-green;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: #fff;
        background-color: @color-green;
        opacity: 0.9;
    }

    &:active {
        border: 1px solid #fff;
    }
}
