tt {
  font-family: 'Roboto';
  font-size: 13px;
  color: grey;
  font-weight: 400;
}
/*** GLOBAL STYLES ***/
.panel-heading {
  background-color: transparent !important;
  border-bottom: $borderUnderline;
  padding-left: 0px;
  padding-right: 0px;
}
.panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
.panel-default {
	border-radius: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: 0px;
}
.inner {
  padding-left: 0px;
  padding-right: 0px;
}
.main {
  padding-left: $pad * 1.5;
  padding-right: $pad * 1.5;
  padding-top: $pad / 2;
  padding-bottom: $pad * 1.5;
}
.floatRight {
  float: right;
}
.formFloat {
  .mosaic {
    max-width: 5%;
    text-overflow: hidden;
    white-space: nowrap;
  }
  input {
    width: 88%;
    border: 0px;
  }
  input.accounts {
    width: 70%;
  }
  input.levy {
    width: 40%;
  }
  input:focus {
    outline: 0;
  }
}
.formFloat input[disabled] {
  background: transparent;
}
input.readOnly {
  background: transparent;
  box-shadow: none;
  border: 0;
}

table {
  table-layout: auto;
  word-break: break-all;
  margin-bottom: 0px !important;
}
thead {
  border-bottom: $borderUnderline;
}
tr, td {
  border: none !important;
}
tr {
  border-bottom:1px solid $grayLite !important;
}
tbody {
  border: none;
  text-align: left !important;
}
td {
  vertical-align: middle !important;
}
table.top {
  margin-top: $pad * 1.3 !important;
}
th {
  color: grey;
  font-size: 13px;
  font-weight: 400;
  min-width: 55px;
  border-bottom: $borderUnderline;
  padding-top: $pad * 2;
}
.table-bordered {
  border: 0;
}
.accordion-inner {
  background-color: $blueXLite !important;
  hr {
    border-style: none !important;
    border: 1px solid $grayLite !important;
    margin: 0 !important;
  }
}
select {
  border: 1px solid $blueLite !important;
  border-radius: none !important;
}
.bg-info {
  background-color: $blueXLite;
  padding: $pad / 2;
  border: 1px solid $blueLite;
  text-align: center;
  p {
    margin: 0;
  }
}
.bg-danger {
  padding:10px;
  cursor:pointer;
  margin-bottom:0;
}
.pointer {
  cursor: pointer;
  color: red;
}
.helper {
  text-align: right;
  cursor: pointer;
  h4:hover{
    color: $blue;
  }
}
h1 {
  font-weight: 300;
  font-size: 40px;
}
h2 {
	color: $gray;
	font-size: 55px;
	font-weight: 100;
  text-align: left;
  margin-top: 0px;
}
h3 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  color: $gray;
  font-weight: 300;
}
h4{
	padding-top: $pad;
	color: $gray;
	font-size: 24px;
	font-weight: 300;
}
.secondary h4 {
  padding-top: 0px !important;
  @media only screen and (max-width : $lg) {
    display: none !important;
  }
}
h5 {
  color: $gray;
  font-weight: 300;
  font-size: 16px;
}
.input-group-btn {
  min-width: 170px;
  vertical-align: middle;
  &.short {
    min-width: 130px;
  }
  &.adding {
    max-width: $pad * 2;
    min-width: $pad * 2;
  }
  &.addSubtract {
    max-width: $pad * 4;
    min-width: $pad * 4;
  }
  .btn-warning {
    max-width: $pad * 2;
    min-width: $pad * 2;
    background: $blue;
    border: 1px solid $blue;
  }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background: $blueLite !important;
    border: 1px solid $blueLite !important;
    color: white !important;
  }
  .btn-danger {
    max-width: $pad * 2;
    min-width: $pad * 2;
    // background: $blue;
    // border: 1px solid $blue;
  }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    // background: $blueLite !important;
    // border: 1px solid $blueLite !important;
    color: white !important;
    background: lighten( $red, 10% );
    border: 1px solid lighten( $red, 10% );
  }
}
input.form-control.short{
  width: 60px !important;
  min-width: 60px;

}

footer .container-fluid {
  padding: 0;
}
footer {
	bottom: 0;
	position: absolute;
	padding: $pad;
	/*border-top: 1px solid #444;*/
	width: 100%;
	// background-color: white;
	z-index: 10;
}
footer .col-lg-6:first-of-type{
	text-align: left;
	margin-left: 0px;
	padding-left: 0px;
}
footer .col-lg-6:last-of-type{
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
}


.list-group {
  margin: 0;
}
.list-group-item {
  padding-top: $pad / 4;
  padding-bottom: $pad / 4;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  box-shadow: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  // box-shadow: 1px 0 0 rgba(0,0,0,0.05);
}
// confirmed/unconfirmed tabs, send/receive tabs
.navbar-brand {
  span:first-of-type {
    font-weight: 100;
  }
  span:last-of-type {
    font-weight: 900;
  }
}
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a.active {
    cursor: default;
    background-color: $blue;
		color: white;
    padding-bottom: 12px;
    border: 0;
}
.nav-tabs li a {
	color: grey;
  outline: 0;
  cursor: pointer;
  display: inline;
  letter-spacing: 1px;
  &:hover {
    text-decoration: underline;
  }
}
.nav-tabs {
  position: relative;
	border-bottom: none;
}
.navbar {
	border:none;
	border-radius:0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  z-index: 10;
}
.navbar-default {
  background-color: white;
  .navbar-brand {
  	color: black;
    background-color: white;
  	box-shadow: 1px 0 0 rgba(0,0,0,0.05);
  }
  .navbar-nav li {
    &.money, &.node {
      border-right: 1px solid rgba(0,0,0,0.05);
      border-left: 1px solid rgba(0,0,0,0.05);
    }
    a {
      color: black;
      font-weight: 500;
      &.active {
        color: grey;
      }
    }
  }
  .login {
    text-transform: uppercase;
    border-left: 1px solid rgba(0,0,0,0.05);
  }
  .account a {
    padding-right: $pad / 10 !important;
    margin-right: $pad / 10 !important;
  }
  .account2 a {
    padding-left: 0px !important;
    margin-left: 0px !important;
    color: grey !important;
  }
  .dropdown-menu li:nth-of-type(even), .dropdown-menu li select, .dropdown-menu li input {
    border-bottom: 1px solid $blue;
    font-size: 14px;

  }
  .dropdown-menu li:nth-of-type(odd) {
    font-weight: 700;
    font-size: 13px;
    border-bottom: 1px solid $grayLite;
  }
}
.tabDescription {
  float: right;
  position: relative;
  color: $gray;
  font-weight: 500;
  @media only screen and (max-width : $lg) {
    display: none;
  }
}
// .someShort {
//   @media only screen and (max-width : $lg) {
//     max-width: 120px;
//   }
// }
.btn-default {
  background: transparent;
  color: black;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  padding-top: 0px;
}
.input-group-btn:hover, .input-group-btn:focus, .input-group-btn:active {
  background: transparent;
  .btn:hover, .btn:active, .btn:focus {
    background: transparent;
    color: black;
  }
}
.btn-success {
  background-color: $blue;
  border-color: $blue;
  width: 100%;
  border-radius: 0px;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: $blueLite !important;
  border-color: $blueLite !important;
  color: white !important;
}
.button-warning {
  max-width: 50px;
}
/*** ARROWS ***/
.arrows {
  float: right;
  margin-top: -$pad * 3.5;
  &.harvested {
    margin-top: -$pad * 2;
  }
  .buttonStyle {
    border: none;
    box-shadow: none;
    background: transparent;
    color: $gray;
    weight: 100;
  }
  b {
    color: $gray;
  }
}

/*** LOGIN, HOME & SIGNUP PAGE ***/
.login-page, .signup-page, .home-page {
  color: white;
  .container {
    margin-top: $pad * 5;
  }
  .row.text-center {
    margin-bottom: $pad * 2;
  }
  // footer {
  //   color: pink !important;
  // }
}
/*** HOME PAGE ***/
.home-page {
  color: white;
  text-align: center;
  h1 {
    font-weight: 300;
    font-size: 4em;
  }
  p{
    font-size: 1.3em;
  }
}
/*** LOGIN PAGE ***/
.login-page {
  .btn-import {
  	background-color: #dfa82f;
  	border-radius: 0px;
  	color: white;
  }
  .btn-import:hover {
  	background-color: #daa022;
  }
  .loginButtons {
    .col-md-3:nth-of-type(1) {
      padding-right: 0;
    }
    .col-md-3:nth-of-type(2) {
      padding-left: 0;
    }
  }
}
/*** SIGNUP PAGE ***/
.signup-page {
  .nav-tabs li a {
  	color: white;
    outline: 0;
    cursor: pointer;
    display: inline;
    &:hover {
      background: $blueLite;
      border: 0;
      text-decoration: none;
    }
  }
  .bg-info {
    color: white;
    border: $blueLite;
    a {
      color: red;
    }
  }
}
/*** DASHBOARD PAGE ***/
.dashboard-page {
  h1 {
    color: black;
    font-weight: 500;
    font-size: 26px;
    margin-top: 0px;
  }
  h5 {
    color: black;
    font-size: 15px;
  }
  .harvestedBlocks {
    th, td {
      width: 50% !important;
      max-width: 50%;
      min-width: 50%;
    }
    th {
      font-size: 12px;
      color: $gray;
    }
  }
  .updates {
    p {
  	  font-size: 12px;
    }
    a{
    	color: $blue;
    	text-decoration: underline;
    	font-weight: 500;
    }
  }
}
/*** SEND/RECEIVE PAGE ***/

.form-control {
  border: 0px;
  border-bottom: $borderUnderline;
  box-shadow: none;
  font-size: 15px;
  min-width: 100%;
}
textarea {
  // border: 2px !important;
  border-bottom: $borderUnderline;
  box-shadow: inherit;
  max-height: 60px;
}
.form-control:focus {
  box-shadow: none;
}
.checkboxes .col-md-6 {
  text-align: center;
}
.fees {
  border-bottom: $borderUnderline;
  text-align: right;
}
.mosaicsAttached {
  text-overflow: ellipsis;
  th:first-of-type, td:first-of-type {
    width: 35%;
  }
  th:nth-of-type(2), td:nth-of-type(2) {
    width: 20%;
  }
  th:nth-of-type(3), td:nth-of-type(3) {
    width: 15%;
  }
  th:nth-of-type(4), td:nth-of-type(4) {
    width: 15%;
  }
  th:nth-of-type(5), td:nth-of-type(5) {
    width: 10%;
    text-align: center;
  }
}
/*** SERVICES/PORTAL PAGE ***/

.portalWrap{
  .row1 {
    padding-bottom: $pad * 2;
  }
  .panel-heading {
    border-bottom: 0px !important;
    .col-sm-9 {
      position: relative;
      left: -$pad;
      @media only screen and (max-width : $xl) {
        left: 0;
      }
      @media only screen and (max-width : $lg) {
        left: $pad / 3;
      }
      @media only screen and (max-width : $md) {
        left: 0;
      }
    }
    h5 {
      color: black;
      font-weight: 500;
      font-size: 21px;
    }
    i {
      vertical-align: middle;
    }
    img {
      width: 56px;
    }
    .col-sm-3 {
      min-height: 66px;
      @media only screen and (max-width : $md) {
        display: none;
      }
    }
  }

  .panel-body {
    padding: 0px;
    padding-top: $pad;
    padding-bottom: $pad;
    border-top: 1px solid $blue;
    line-height: 1.1;
    font-size: 13.5px;
    color: rgba(0,0,0,0.4);
    font-weight: 700;
  }
  .panelFooter {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    padding: 0px;
    line-height: 1.4;

    .btn {
      text-decoration: underline !important;
      color: $blue;
      font-size: 13.5px;
      padding: 0px !important;
      margin: 0px !important;
      text-align: left;
      background-color: transparent;
      white-space: normal;
      line-height: 1.1;
    }
    .btn[disabled] {
      color: rgba(0,0,0,0.7);
    }
  }
  .market-info {
    @media only screen and (max-width : $lg) {
      display: none;
    }
  }
}
/*** CONVERT AN ACCOUNT TO MULTISIG ***/
.create-multisig-page, .edit-multisig-page {
  th:nth-of-type(1), td:nth-of-type(1){
    width: 72%;
    @media only screen and (max-width : $lg) {
      width: 64%;

    }
  }
  th {
    color: $gray;
    font-weight: 700;
    font-size: 12px;
  }
  td:nth-of-type(1) {
    font-weight: 500;
    font-size: 14px;
    @media only screen and (max-width : $xl) {
      font-size: 12px;
    }
  }
}
.edit-multisig-page {
  .col-md-5 {
    h5 {
      // margin-bottom: 0px;
      font-size: 14px;
      font-weight: 500;
    }
  span {
    font-size: 12px;
    font-weight: 500;
  }
  .col-md-4 {
    text-align: right;
  }
}
}

/*** CREATE MOSAIC PAGE ***/
.create-mosaic-page {
  .mosaicCheckboxes {
    text-align: left;
  }
}

/*** APOSTILLE AUDIT PAGE ***/

.audit-apostille-page {
  .trash {
    float: right;
    position: relative;
    bottom: $pad;
    font-family: 'Roboto';
    display: block;
    color: $gray;
    font-weight: 700;
  }
}


/*** APOSTILLE ADD PAGE ***/
.rejected {
  float: right;
}

/*** APOSTILLE HISTORY PAGE ***/
.apostille-history-page {
  tr th:first-child, tr td:first-child {
    width: 22%;
  }
  tr th:nth-of-type(2), tr td:nth-of-type(2) {
    width: 12%;
  }
  tr th:nth-of-type(3), tr td:nth-of-type(3) {
    width: 11%;
  }
  tr th:nth-of-type(4), tr td:nth-of-type(4) {
    width: 20%;
  }
  tr th:nth-of-type(5), tr td:nth-of-type(5) {
    width: 15%;
  }
  tr th:nth-of-type(6), tr td:nth-of-type(6) {
    width: 15%;
  }
  .backupPurge {
    float: right;
    cursor: pointer;
    span {
      font-size: 13px;
      font-weight: 300;
      color: $gray;
    }
    span:first-of-type(){
      margin-right: $pad;
    }
  }
  .buttans {
    .col-md-12 {
      margin-top: $pad / 4;
    }
  }
}



/*** DROPBOX GLOBAL STYLES ***/
.drop {
    border: 1px dashed rgb(0, 166, 90);
    /*width: 450px;*/
    min-height: 35px;
    /*margin: 10px auto;*/
    border-radius: 4px;
    // display: box;
    /*cursor:pointer;*/
    text-align: center;
}
.drop input.upload {
    position: absolute;
    top: 0;
    /*right: 0;*/
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.drop input.upload[disabled] {
    cursor: not-allowed;
}

/*** MANAGE DELEGATED ACCOUNT PAGE ***/
.importance-transfer-page {
  @extend %plusMinus;
  .col-md-4 {
    h5 {
      font-size: 14px;
      font-weight: 500;
      color: $gray;
      margin-bottom: $pad / 4;
    }
    span {
      font-size: 14px;
      font-weight: 700;
    }
  }
  .overflow {
    text-overflow: clip !important;
  }
}

/*** EXPLORER PAGE ***/

.explorer-home-page {
  .panel-body {
    padding: 0;
  }
  tbody {
    text-align: left;
  }
  tr th:first-child, tr td:first-child {
    width: 38%;
  }
  tr th:nth-of-type(2), tr td:nth-of-type(2) {
    width: 18%;
  }
  tr th:nth-of-type(3), tr td:nth-of-type(3) {
    width: 26%;
  }
  tr th:nth-of-type(4), tr td:nth-of-type(4) {
    width: 18%;
  }
}
.explorer-apostilles {
  tbody {
    text-align: left;
  }
  tr th:first-child, tr td:first-child {
    width: 25%;
  }
  tr th:nth-of-type(2), tr td:nth-of-type(2) {
    width: 25%;
  }
  tr th:nth-of-type(3), tr td:nth-of-type(3) {
    width: 35%;
  }
  tr th:nth-of-type(4), tr td:nth-of-type(4) {
    width: 15%;
  }
  .arrows {
    margin-top: -$pad * 2;
  }
}
.explorer-namespaces-mosaics-page {
  .form-control {
    padding-left: 0px;
  }
  .namespacesArrows {
    .col-lg-6 {
      min-height: $pad * 3;
      // text-align: right !important;
      @media only screen and (max-width : $lg) {
        // text-align: left;
}
}
    }
  }
  .arrows {
    padding-top: $pad * 2.7;
    @media only screen and (max-width : $lg) {
      // padding-top: 0px;
    text-align: right;

}
}
  // }
  li.list-group-item{
    padding-left: $pad /2;
    // text-decoration: underline;
    &.active, &:hover, &:focus, &:active {
      background: $blueLite;
      border-radius: 0;
      border-bottom: 0px;
    }
  }

.explorer-accounts {
  .searchBar {
    padding-top: $pad * 2;
  }
}
/*** ACCOUNT INFO PAGE ***/
.account-page {
  #downloadWallet {
  visibility: hidden;
  }
  fieldset {
    overflow: hidden;
  }
  .form-control {
    white-space: nowrap;

  }
  .btn-block {
    border-radius: 0;
    color: white;
    background: $blue;
    border: 1px solid $blue;
    &:hover, &:active {
      background: $blueLite;
      border: 1px solid $blueLite;
      color: white;
    }
  }
  @extend %plusMinus;
}

/*** APOSTILLE MESSAGE PAGE ***/
.apostilleMessage {
  .checkboxes .col-sm-5 {
    text-align: center;
  }
  .checkboxes .col-sm-4:last-of-type {
    text-align: right;
  }
}
/*** APOSTILLE MESSAGE PAGE ***/

/*** Changelly WIDGET ***/
  #changwidget {
    margin-top: $pad * 3;
  }
/*** MARKET INFO WIDGET ***/
.market-info .header{
	color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	font-weight: 700;
}
.market-info h4 {
  margin-bottom: $pad;
}
.market-info .header span{
	font-weight: 500;
	font-size: 20px;
	color: black;
  @media only screen and (max-width : $xl) {
    font-size: 15px;
  }
  @media only screen and (max-width : $lg) {
    font-size: 12px;
  }
}
.market-info .ticker {
	padding-top: $pad;
  @media only screen and (max-width : $md) {
    padding-top: 0px;
  }
}
.marketPercents {
  @media only screen and (max-width : $xl) {
    font-size: 12px;
    .col-lg-4:nth-of-type(2) {
      text-align: left;
      padding-right: 0px;
    }
    .col-lg-4:nth-of-type(3) {
      text-align: right;
      padding-right: 0px;
      padding-left: 0px;
      @media only screen and (max-width : $md) {
        text-align: left;
      }
    }
    .col-lg-4:last-of-type {
      text-align: right;
      padding-right: 0px;
      padding-left: 0px;
      @media only screen and (max-width : $lg) {
        text-align: left;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}


label {
  font-size: 16px;
}
/*** CUSTOM CHECKBOXES ***/
input[type=checkbox] {
  display:none;
} /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
   content: "\f096";
} /* unchecked icon */
input[type=checkbox] + label:before {
   letter-spacing: 10px;
} /* space between checkbox and label */

input[type=checkbox]:checked + label:before {
   content: "\f046";
} /* checked icon */
input[type=checkbox]:checked + label:before {
   letter-spacing: 8px;
} /* allow space for check mark */
