/*** GLOBAL FONTS ***/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/*** GLOBAL VARIABLES ***/
$blue: #69b2e5;
$blueLite: rgba(105, 178, 229, 0.6);
$blueXLite: rgba(105, 178, 229, 0.1);
$blueDark: darken( $blue, 10% );
$pad: 20px;
$grayLite: rgba(0 ,0 ,0 ,0.1);
$gray: rgba(0 ,0 ,0 ,0.3);
$borderUnderline: 1px solid $blueLite !important;
$red: #d9534f;
$redLite: lighten( $red, 2% );
$green: green;
$greenLite: lighten( $green, 10% );
$black: #333;
$white: white;
// $red: darken( red, 20% );


$xl: 1500px;
$lg: 1200px;
$md: 992px;
$sm: 768px;

/*** GLOBAL EXTENDS ***/
%plusMinus {
  .input-group-btn.showHide, .dLoad {
    max-width: $pad * 2;
    background: transparent;
    text-align: center;
    .btn-primary, .btn-danger {
      width: 100%;
      color: white;
      background: $blue;
      border: 1px solid $blue;
      &:hover, &:active {
        background: $blueLite;
        border: 1px solid $blueLite;
        color: white;
      }
    }
  }
}
%overflowHide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%tableHeaderDisplay {
  font-family: 'Roboto';
  font-size: 12px;
  color: grey;
  font-weight: 400;
}
%tableDisplay {
  font-family: 'Roboto';
  font-size: 13px;
  color: grey;
  font-weight: 400;
}
/*** GLOBAL EXTENDS END ***/


/*** MOSTLY DEPRECATED STYLES, place new styles in _new.scss ***/
.noPadding {
	padding: 0px;
}
.noPaddingLeft {
	padding-left: 0px;
}
@media (max-width: 768px) {
	.noPaddingLeft {
		padding-left: 15px;
	}
}
.dropdown-menu {
	border: 1px solid white;
}
.alert-danger {
    color: #fff;
    background-color: #d15050 !important;
    border-color: #d15050 !important;
}
.bg-danger {
	color: #fff;
    background-color: #d15050 !important;
}
.alert-success {
    color: #444;
}
.nav-tabs li a {
	border-radius: 0px;
}
.dropdown-menu {
	padding: 0px 0px;
}
select {
	border-radius: 0px !important;
}
.pull-xs-right {
	float: right;
}
.well:hover{
	background-color: #dbdada;
}
.well {
	overflow: hidden;
	white-space: nowrap;
}

.address-book-page {
	.panel-default .panel-heading {
		color: grey !important;
		border-bottom: 3px solid #dfa82f;
	}

	.sidebar {
		.nav {
			li {
				.btn-operations {
					width: 100%;
					border-top: 1px solid rgba(105, 178, 229, 0.6) !important;
					border-bottom: 1px solid rgba(105, 178, 229, 0.6) !important;
					border-radius: 0;
					margin-top: 7px;
					color: #FFF;
					background-color: #69b2e5;

					&:hover { background-color: rgba(105, 178, 229, 0.85) !important; }
					&:focus { outline: none; }
				}

				&:first-child .btn-operations { margin-top: 0; }
			}
		}

		.panel-body { padding: 10px 0; }
	}

	table {
		color: #666;

		th {
			color: grey !important;

			a {
				color: grey !important;

				&:hover,
				&:focus,
				&:active { color: #FFF; text-decoration: none; }
			}
		}

		.actions .btn {
			border: 1px solid rgba(105, 178, 229, 0.6) !important;
			background: #69b2e5;
		}
	}
}

.address-book-page table .actions .btn:hover,
.address-book-page table .actions .btn:focus,
#addressBookModal table .btn:hover,
#addressBookModal table .btn:focus {
	background: rgba(105, 178, 229, 0.85) !important;
	text-decoration: none;
}

#contactModal,
#removeContactModal {
	.modal-header {
		h4 {
			color: #555;
		}
	}
	.modal-footer {
		button {
			&:hover {
				background: none;
			}
		}
	}
}

#addressBookModal {
	.modal-header {
		h4 {
			color: #555;
		}
	}

	.modal-body { padding: 0; }
	.modal-footer .btn {
		border-radius: 3px;
		background-color: #FFF;
		color: #333;
		border: none;
	}

	.modal-footer {
		.custom-pagination {
			color: #FFF; margin-top: 5px;

			button {
				opacity: 1;
				transition: .3s ease opacity;

				&[disabled="disabled"] { opacity: 0.3; }
			}
		}

		button[data-dismiss="modal"] {
			padding-top: 5px;
			padding-bottom: 4px;
		}
	}

	table {
		th,
		td { color: #666; padding-left: 15px; padding-right: 15px; }
		th:first-child,
		td:first-child { border-right: 1px solid #DDDDDD; }
		tr:first-child td { padding-top: 10px; }
		tr:last-child td { padding-bottom: 15px; }
		th { border-bottom: none; }
		td {
			.btn {
				color: #FFF;
				border: 1px solid rgba(105, 178, 229, 0.6) !important;
				background: #69b2e5;

				&:hover {
					background: rgba(105, 178, 229, 0.85) !important;
				}
			}
		}
	}
}

@import 'new';
