.tabs {
    width: 100%;
    overflow-x: auto;
    user-select: none;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}


.tabs-item {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0B0118;
    border-bottom: 4px solid transparent;
    padding: 10px 0 6px;
    cursor: pointer;
}

.tabs-item-active {
    border-bottom: 4px solid @color-yellow;
}
