<div class="importQrcode-page">
  <div class="container-fluid main">
    <div class="row">
      <div class="col-sm-8">
        <h2>Import Wallet Bankup</h2>
      </div>
    </div>
    <div class="row">
      <div id="importWallet" class="col-md-3 col-md-offset-3 col-sm-6">
        <div id="scanQrcode"></div>
        <div id="uploadQrcode">
          <canvas id="uploadQrcodeCvs" hidden></canvas>
        </div>
      </div>      
    </div>
    <div class="row">
      <div>
        <div class="panel-heading">
            <h3>Load Wallet Bankup Qrcode</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-btn">
                <!--label>Type: </label-->
            </span>
            <div class="">
              <div class="col-md-6 col-sm-6">
                <button class="btn btn-lg btn-success" type="submit" ng-click="$ctrl.scan()">
                    Scan
                </button>
              </div>
              <div class="col-md-6 col-sm-6">
                  <input class="btn btn-lg btn-success" style="font-size: unset;" type="file" id="uploadQrcodeInput" accept="image/*"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="panel-heading">
            <h3>{{ 'GENERAL_INFORMATION' |  translate }}</h3>
        </div>
        <div class="panel-body">
          <p>1. Support Qrcode Bankup Wallet Type: NEM wechat wallet, ios, android.</p>
          <p>1. 支持导入钱包类型: NEM微信钱包, 苹果钱包, 安卓钱包．</p>
        </div>      
      </div>
    </div>
  </div>
</div>

<!-- Import Wallet Bankup Qrcode modal -->
<div id="importQrcodeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Import Wallet Bankup Qrcode</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <label>{{ 'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate }}: </label>
                </span>
                <div class="form-control formFloat">
                  <span id="importWalletName"></span>
                </div>
              </div>
            </fieldset>
            <password-input common="$ctrl.common"></password-input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-success" type="submit" ng-click="$ctrl.importQrcodeWallet()">
            <i class="fa fa-plus"></i> {{ 'LOGIN_IMPORT_BUTTON' | translate }}
          </button>
      </div>
    </div>
  </div>
</div>