/* Custom fonts */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("/nem-docs/assets/fonts/Proxima Nova Bold.otf");
}

/* Navigation menu */
.nav-list .nav-list-item .nav-list-link.active {
    background-color: white;
    background-image: none;
    border-color: #66B7E7;
    border-style: solid;
    border-radius: 8px 0px 0px 8px;
    border-width: 2px 0px 2px 2px;
}
.nav-list .nav-list-item .nav-list-link:hover {
    background-image: none;
    background-color: #66B7E780;
    border-radius: 8px 0px 0px 8px;
}
.nav-list .nav-list-item .nav-list-link {
    color: black;
    border-right: 2px solid #66B7E7;
}
.nav-list .nav-list-item .nav-list-expander:hover {
  background-image: none;
  background-color:#66B7E780;
  border-radius: 16px;
}

/* Headers */
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    font-family: ProximaNovaBold;
}
.main-content h1 {
    text-align: center;
}

/* Side bar */
.side-bar {
    background-color: #EEF5F9;
    background-image: url("/nem-docs/assets/images/background-branches.png");
}

/* Links */
a {
  color: #66B7E7;
}

/* Table of Contents */
#markdown-toc { 
background-color: #EEF5F9;
width: fit-content;
margin-left: auto;
}
#markdown-toc::before { content: "Page Contents"; font-weight: bold; }
.main-content #markdown-toc {
  padding: 1em 3em 1em 3em;
  border-radius: 8px;
  line-height: normal;
}
#markdown-toc a {
  white-space:normal;
}

/* Serialization pages */
.side-info {
    float: right;
    background-color: #EEF5F9;
    border-radius: 4px;
    padding: 7px;
    margin-left: 10px;
    font-size: small;
    white-space: nowrap;
}
.side-info tbody tr td {
  min-width: 0px;
  background-color: #EEF5F9;
  border:0;
  padding:0;
}
tbody tr td .side-info-icon {
    text-align: center;
    font-size: large !important;
    color: black;
    line-height: normal;
    padding-right: 7px;
}
.side-info .table-wrapper {
  margin:0;
  box-shadow: none;
}
/* Tables with lots of content in 3 columns */
.big-table3 {
    font-size: small;
    word-break: normal;
    display: grid;
    grid-template-columns: max-content max-content auto;
    margin-top: 20px;
}
/* Tables with lots of content in 6 columns*/
.big-table6 {
    font-size: small;
    word-break: normal;
    display: grid;
    grid-template-columns: 10px 10px 10px min-content min-content auto;
    margin-top: 20px;
}
.big-table6 p, .big-table3 p {
  margin-top: 0;
}
/* divs inside big-table are actually cells */
.big-table3 div, .big-table6 div {
    padding-left: 10px;
    vertical-align: top;
    border-top: 1px solid lightgray;
}
/* Section titles inside big-table */
.big-table-section {
    opacity: 40%;
}
/* Small, empty cell, just to show the vertical guide line.
   The -h version is for header lines. */
.indentation-cell, .indentation-cell-h {
    border-right: 3px solid lightgray;
    border-top: 0 !important;
}

/* Tables */
.table-wrapper {
  box-shadow:none;
}

/* For small screens */
@media (max-width: 600px) {
  .big-table3 {
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
  .big-table6 {
    grid-template-columns: 10px 10px 10px auto auto;
    margin-top: 20px;
  }
  /* The description column moves to the next row, and spans two columns */
  .big-table3 .description {
  	grid-column: 1 / span 2;
  	border-top: 0;
  }
  /* The description column moves to the next row, and spans three columns */
  .big-table6 .description {
    grid-column: 4 / span 3;
    border-top: 0;
  }
  /* There's an extra row (the description) but we have no extra indentation cells,
     therefore, make the existing ones one row taller. */
  .indentation-cell {
    border-right: 3px solid lightgray;
    border-top: 0 !important;
    grid-row: span 2;
  }
}

/* navigation on small screens */
@media (max-width: 50rem) {
  .nav-list .nav-list-item .nav-list-link.active {
    border-width: 2px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  .nav-list .nav-list-item .nav-list-link {
    border-width: 0;
    border-radius: 0;
  }
}

/* Info boxes */
.alert-info {
  background-color: #EEF5F9;
  border-radius: 8px;
  padding: 16px;
  margin: 0;
}
.alert-danger {
  background-color: #f2dede ;
  border-radius: 8px;
  padding: 16px;
  margin: 0;
}

/* Endpoint info boxes */
.endpoint::before {
  content: "Endpoints";
  font-weight: bold;
}
.endpoint {
  background-color: #C8E4D5;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 8px 1em 1px 1em;
  border-radius: 8px;
}

/* Images and Captions */
.caption {
  text-align: center;
  line-height: 1em;
  font-size: 90%;
}
