.footer {
    position: relative;
    height: 498px;
    padding: 125px 0;
    width: 100%;
    background: #0B0118;
}

.footer-symbol-logo {
    width: 40.81px;
    height: 40.95px;
    margin: 20px 0;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.footer-section-title {
    color: #9773FF;
}
