.root {
    width: 100%;
    overflow-x: hidden;
}

.section {
    position: relative;
    display: flex;
    justify-content: center;

    .content-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button {
        margin-right: 28px;
    }
}

.section-1 {
    background-image: url('../../assets/images/bg-1.png');
    background-size: cover;
    
    .content {
        max-width: 614px;
        margin: 88px 0 196px;
    }

    .hero-image-container {
        margin: 68px -127px 0 63px;
    }

    .hero-image {
        max-width: 710px;
        width: 100%;
    }
}

.section-2 {
    background-color: #EEF5F9;
    background-image: url('../../assets/images/bg-2.png');
    background-size: cover;
    background-blend-mode: color-burn;
    box-shadow: inset 0px 4.22676px 46.4943px rgba(23, 21, 109, 0.25);
    
    .content {
        max-width: 535px;
        margin: 102px 0 194px;
    }

    .hero-image-container {
        margin: 126px 78px 0 0;
    }

    .hero-image {
        max-width: 626.39px;
        width: 100%;
    }
}

.section-3 {
    background-image: url('../../assets/images/bg-3.png');
    background-size: cover;
    background-position: right;
    
    .content {
        max-width: 590px;
        margin: 81px 0 420px;
    }
}

.section-4 {
    background-image: url('../../assets/images/bg-4.png');
    background-size: cover;
    background-position: right;
    
    .content {
        max-width: 590px;
        margin: 81px 0 420px;
    }
}