<div class="catapultOptin-page">

    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ 'TITLE_CATAPULTOPTIN' | translate }}</h2>
            </div>
            <div class="col-sm-4 helper">
                <a href="https://nemplatform.com/symbol-migration#multisig" target="_blank">
                    <h4>{{ 'CATAPULTOPTIN_CREATE_HELP' | translate }}</h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="panel-heading">
                    <div class="tabDescription">
                        <!-- Title of panel -->
                        <span>{{ 'CATAPULTOPTIN_TRANSACTION' | translate }}</span>
                    </div>
                    <!-- Tabbed modes -->
                    <ul class="nav nav-tabs">
                        <!-- Normal mode -->
                        <li><a ui-sref="app.catapultOptin">{{ 'GENERAL_TAB_NORMAL' | translate }}</a></li>
                        <!-- Multisig mode -->
                        <li class="active"><a>{{ 'GENERAL_TAB_MULTISIG' | translate }}</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <!-- Catapult Account Information -->
                    <div class="panel-heading margin-form">
                        <h3>{{ 'CATAPULTOPTIN_ACCOUNT_STEP_1_NEW' | translate }}</h3>
                    </div>

                    <!-- Select Address Multisig -->
                    <multisig-select multisig-account="$ctrl.formData.multisigSelector" update-ctrl="$ctrl.onMultisigSelectorChange()"></multisig-select>

                    <!-- FETCH INFO -->
                    <div ng-show="$ctrl.step == 0">
                        <h4 ng-show="$ctrl.step == 0"><img src="images/symbol.svg" class="symbol-spinner">{{'CATAPULT_OPT_IN_LOADING' | translate}}</h4>
                    </div>

                    <!-- ERROR TOO MUCH COSIGNATORIES -->
                    <div ng-show="$ctrl.step == -1">
                        <h4 class="alert alert-danger margin-form" ng-show="$ctrl.step == -1">{{'CATAPULT_OPT_IN_ERROR_TOO_MUCH_COSIGNATORIES' | translate}}</h4>
                    </div>

                    <!-- PENDING OTHER SIGNATURES MESSAGE -->
                    <div ng-show="$ctrl.step == 5" style="margin-top: 70px;">
                        <h4 class="alert alert-warning margin-form">{{'CATAPULTOPTIN_OPT_IN_PENDING_SIGNATURES' | translate }}</h4>
                    </div>

                    <!-- OPT IN DONE MESSAGE -->
                    <div ng-show="$ctrl.step == 6" style="margin-top: 70px;">
                        <h4 class="alert alert-success margin-form">{{'CATAPULTOPTIN_OPT_IN_SUCCESS' | translate }}</h4>
                    </div>

                    <!-- COSIGNER STATUS -->
                    <div ng-show="$ctrl.step > 0 && $ctrl.step < 4">

                        <h5>{{ 'GENERAL_COSIGNATORIES' | translate }}</h5>

                        <div style="display: flex; align-items: center" ng-repeat="cosig in $ctrl.formData.multisigAccount.meta.cosignatories">
                            <div style="display: inline-block; width: 30px;">
                                <i ng-if="$ctrl.cosignersMapping[cosig.publicKey]" style="color: rgb(0, 179, 0);" class="fa fa-check"></i>
                                <i ng-if="!$ctrl.cosignersMapping[cosig.publicKey]" style="color: rgb(179, 0, 0);" class="fa fa-times"></i>
                            </div>
                            <div style="margin: 10px 0px;">
                                <b>NIS 1:</b> <small>{{cosig.address}}</small><br>
                                <b>Symbol:</b> <small ng-bind="$ctrl.cosignersMapping[cosig.publicKey] ? $ctrl.cosignersMapping[cosig.publicKey]: ('COSIGNER_NOT_OPTIN' | translate)"></small>
                            </div>
                        </div>
                    </div>

                    <br>
                    <!-- ENTER MNEMONIC -->
                    <div ng-show="$ctrl.step === 2 && $ctrl._Wallet.algo !== 'ledger'">
                        <!-- Choose Symbol Account Opt-in Type -->
                        <div class="panel-heading margin-form">
                            <h3>{{ 'SYMBOL_WALLET_CREATING_TYPE_INFO' | translate }}</h3>
                        </div>

                        <select class="form-control" ng-show="$ctrl._Wallet.algo === 'trezor'" ng-options="type.key as type.name for type in $ctrl.types" ng-model="$ctrl.optinSymbolLedger"></select>
                        <br>
                        <div ng-show="!$ctrl.optinSymbolLedger">
                            <!-- Mnemonic of account to convert -->
                            <fieldset class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <label ng-class="!$ctrl.formData.origin.account ? 'has-error': ''">{{ 'MNEMONIC' | translate }}</label>
                                    </span>
                                    <textarea class="form-control" wrap="hard"
                                            style="overflow: auto; white-space: normal; min-height: 80px; max-height: 80px;"
                                            placeholder="{{ 'CATAPULTOPTIN_ACCOUNT_UNLOCK_PLACEHOLDER' | translate }}"
                                            ng-model="$ctrl.formData.origin.mnemonic"
                                            ng-class="!$ctrl.formData.origin.account ? 'has-error': ''"
                                            ng-change="$ctrl.buildOriginAccount();">
                                        </textarea>
                                </div>
                            </fieldset>

                            <button class="btn btn-success margin-form" type="submit"
                                    ng-disabled=" (!$ctrl.formData.origin.mnemonic)" ng-click="$ctrl.onMnemonicClick()">
                                <i class="fa fa-unlock"></i> {{ 'CATAPULTOPTIN_UNLOCK' | translate }}
                            </button>
                        </div>
                    </div>

                    <!-- IMPORT LEDGER ACCOUNT -->
                    <div ng-show="$ctrl.step === 2 && $ctrl.optinSymbolLedger">
                        <button class="btn btn-success margin-form" type="submit" ng-click="$ctrl.onLedgerUnlockClick()">
                            <i class="fa fa-unlock"></i> {{ 'CATAPULTOPTIN_UNLOCK' | translate }}
                        </button>
                    </div>

                    <!-- TRANSACTION FEE + REGISTER BUTTON -->
                    <div ng-show="$ctrl.step == 3">
                        <!-- Transaction fee -->
                        <fieldset class="form-group margin-form">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                        <label>{{'GENERAL_FEE' | translate}}: </label>
                                    </span>
                                <div class="form-control formFloat" readonly>
                                        <span class="feeAmount">
                                            <span>{{($ctrl.fee | fmtNemValue)[0]}}.{{($ctrl.fee | fmtNemValue)[1]}}</span>
                                        </span>
                                    <label class="floatRight"><small>XEM</small></label>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Register button-->
                        <button class="btn btn-success" type="submit"
                                ng-disabled="$ctrl.formData.optinPublicKey.length !== 64"
                                ng-click="$ctrl.confirmStep = 0; $ctrl.formData.passwordDownloadWallet = ''; $ctrl.formData.confirmPasswordDownloadWallet = '';"
                                data-toggle="modal" data-target="#catapultOptinResume">
                            <i class="fa fa-send"></i> {{ 'CATAPULTOPTIN_REGISTER' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- ENTER ACCOUNT INFO -->
                <div ng-show="$ctrl.step == 3">
                    <!-- Catapult Account Information -->
                    <div class="panel-heading margin-form">
                        <h3>{{ 'CATAPULTOPTIN_ACCOUNT_MS_STEP_2' | translate }}</h3>
                    </div>

                    <div style="text-align: right; margin-bottom: 15px;">
                        <div class="input-group">
                                <span class="input-group-btn" style="width: 100%; padding-right: 10px; text-align: right;">
                                    <label>{{ 'CATAPULTOPTIN_GENERATE_NEW_SYMBOL' | translate }}</label>
                                </span>
                            <button ng-click="$ctrl.generateRandomAccount(); $ctrl.buildOptinAccount();" class="btn btn-success" style="width: auto;"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Catapult Opt In Address -->
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label>{{ 'GENERAL_ADDRESS' | translate }}: </label>
                            </span>
                            <input type="text" class="form-control" ng-model="$ctrl.formData.optinAddress" readOnly>
                            <span class="input-group-btn" style="min-width: inherit;">
                                <button class="btn btn-primary" type="button" ng-click="$ctrl.copyToClipboard($ctrl.formData.optinAddress);"><i class="fa fa-clipboard"></i></button>
                            </span>
                        </div>
                    </fieldset>

                    <!-- Mnemonic of account to convert -->
                    <fieldset class="form-group">
                        <div class="input-group">
                                <span class="input-group-btn">
                                    <label ng-class="!$ctrl.formData.optinPublicKey.length ? 'has-error': ''">{{ 'MNEMONIC' | translate }}</label>
                                </span>
                            <textarea class="form-control" wrap="hard"
                                      style="overflow: auto; white-space: normal; min-height: 80px; max-height: 80px;"
                                      placeholder="{{ 'AGGREGATE_ACCOUNT_TO_CONVERT_PRIVATE' | translate }}"
                                      ng-model="$ctrl.formData.optinMnemonic"
                                      ng-class="!$ctrl.formData.optinPublicKey.length ? 'has-error': ''"
                                      ng-change="$ctrl.buildOptinAccount();"
                                      ng-readonly="!$ctrl.createNewAccount">
                                </textarea>
                            <span class="input-group-btn" style="min-width: inherit;">
                                <button class="btn btn-primary" type="button" ng-click="$ctrl.copyToClipboard($ctrl.formData.optinMnemonic);" style="height: 80px;"><i class="fa fa-clipboard"></i></button>
                            </span>
                        </div>
                    </fieldset>
                </div>

                <!-- ENTER NAMESPACES TO OPT IN -->
                <div ng-show="$ctrl.step == 3 && $ctrl.namespaces.length > 0">
                    <div class="panel-heading">
                        <h3>{{ 'CATAPULTOPTIN_ACCOUNT_MS_STEP_3' | translate }}</h3>
                    </div>
                    <br>
                    <!-- Include namespaces checkbox -->
                    <input id="namespaceCheckbox" type="checkbox" ng-model="$ctrl.includeNamespaces"
                           ng-change="$ctrl.onIncludeNamespacesChange();">
                    <label for="namespaceCheckbox">{{'CATAPULTOPTIN_INCLUDE_MS_NAMESPACE' | translate }}</label>

                    <!-- Include namespaces panel -->
                    <div ng-show="$ctrl.includeNamespaces">
                        <div class="margin-form">
                            <h5 class="title-list">{{ 'GENERAL_NAMESPACES' | translate }}</h5>
                        </div>

                        <!-- Multisig owned namespaces -->
                        <div class="panel-body">
                            <ul class="list-group" ng-repeat="namespace in $ctrl.namespaces">
                                <li class="list-group-item">{{namespace}}</li>
                            </ul>
                            <p class="nothing" ng-show="!$ctrl.namespaces.length">{{ 'GENERAL_NO_RESULTS' | translate }}</p>
                        </div>

                        <!-- Namespace Remove -->
                        <div class="panel-heading margin-form" ng-show="$ctrl.namespaces.length"></div>
                        <fieldset class="form-group" ng-show="$ctrl.namespaces.length">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <label>{{ 'CATAPULTOPTIN_NAMESPACE_TO_DELETE' | translate }}: </label>
                                </span>
                                <input autofocus="autofocus" type="text" class="form-control"
                                       ng-model="$ctrl.formData.namespaceRemoved"
                                       placeholder="{{ 'CATAPULTOPTIN_NAMESPACE_REMOVE' | translate }}"
                                       maxlength="64">
                            </div>
                            <div class="col-md-6"></div>
                            <button type="button" class="btn btn-danger col-md-6"
                                    style="border-radius: 0px; margin-top: 15px;"
                                    ng-click="$ctrl.deleteNamespacefromOpIn()"
                                    ng-disabled="!$ctrl.checkNamespaceIsOwned()"><i class="fa fa-minus"></i> {{
                                'CATAPULTOPTIN_REMOVE_NAMESPACE' | translate }}
                            </button>
                        </fieldset>
                    </div>
                </div>

                <!-- SYMBOL SIGN -->
                <div ng-show="$ctrl.step >= 4">
                    <!-- Catapult Account Information -->
                    <div class="panel-heading margin-form">
                        <h3 ng-if="$ctrl.step == 4">{{ 'CATAPULTOPTIN_ACCOUNT_STEP_SIGN' | translate }}</h3>
                        <h3 ng-if="$ctrl.step > 4">{{ 'CATAPULTOPTIN_REVIEW_MULTISIG_RESULT' | translate }}</h3>
                    </div>

                    <!-- Sign Opt In Address -->
                    <div class="margin-form">
                        <h5 class="title-list">{{ 'SYMBOL_ADDRESS' | translate }}</h5>
                    </div>
                    <fieldset class="form-group">
                        <div class="input-group" style="width: 100%">
                            <input type="text" class="form-control" ng-model="$ctrl.formData.cosign.address" readOnly>
                        </div>
                    </fieldset>

                    <!-- Opt In Cosigners -->
                    <div class="margin-form">
                        <h5 class="title-list">{{ 'SYMBOL_COSIGNERS' | translate }}</h5>
                    </div>
                    <fieldset class="form-group">
                        <div style="display: flex; align-items: center" ng-repeat="cosig in $ctrl.formData.multisigAccount.meta.cosignatories">
                            <div style="display: inline-block; width: 30px;">
                                <i ng-if="$ctrl.formData.cosign.signedMapping[cosig.publicKey]" style="color: rgb(0, 179, 0);" class="fa fa-check"></i>
                                <i ng-if="!$ctrl.formData.cosign.signedMapping[cosig.publicKey]" style="color: rgb(179, 0, 0);" class="fa fa-times"></i>
                            </div>
                            <div style="margin: 10px 0px;">
                                <b>NIS 1:</b> {{cosig.address}}<br>
                                <b>Symbol:</b> {{$ctrl.cosignersMapping[cosig.publicKey]}}
                            </div>
                        </div>
                    </fieldset>

                    <!-- Opt In Namespaces -->
                    <div class="margin-form">
                        <h5 class="title-list">{{ 'CATAPULTOPTIN_NAMESPACES_OPTIN' | translate }}</h5>
                    </div>
                    <fieldset class="form-group">
                        <ul class="list-group" ng-repeat="namespace in $ctrl.formData.cosign.namespaces">
                            <li class="list-group-item">{{namespace}}</li>
                        </ul>
                        <p class="nothing" ng-show="!$ctrl.formData.cosign.namespaces.length">{{ 'GENERAL_NO_RESULTS' | translate }}</p>
                    </fieldset>

                    <!-- Opt In Balance -->
                    <div ng-show="$ctrl.step == 6" class="margin-form">
                        <h5 class="title-list">{{ 'CATAPULT_OPT_IN_BALANCE_SNAPSHOT' | translate }}</h5>
                    </div>
                    <fieldset ng-show="$ctrl.step == 6" class="form-group">
                        <div class="form-control formFloat" readOnly>
                            <input type="text"
                                   value="{{ ($ctrl.formData.multisigAccount.account.balance | fmtNemValue)[0] }}.{{ ($ctrl.formData.multisigAccount.account.balance | fmtNemValue)[1] }}"
                                   readOnly disabled/>
                            <label class="floatRight"><small>XYM</small></label>
                        </div>
                    </fieldset>
                </div>

                <!-- SYMBOL SIGN FEE + SEND -->
                <div ng-show="$ctrl.step == 4">
                    <!-- Transaction fee -->
                    <fieldset class="form-group margin-form" style="margin-top: 45px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label>{{'GENERAL_FEE' | translate}} </label>
                            </span>
                            <div class="form-control formFloat">
                                <span class="feeAmount">
                                    <span>{{(450000 | fmtNemValue)[0]}}.{{(450000 | fmtNemValue)[1]}}</span>
                                </span>
                                <label class="floatRight"><small>XEM</small></label>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Password Field -->
                    <fieldset class="form-group" ng-show="$ctrl._Wallet.algo !== 'trezor' && $ctrl._Wallet.algo !== 'ledger'">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label ng-class="!$ctrl.common.password.length ? 'has-error' : ''">{{ 'FORM_PASSWORD' | translate }}: </label>
                            </span>
                            <input class="form-control password" type="password" placeholder="{{ 'OPTIN_FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="$ctrl.common.password" ng-class="!$ctrl.common.password.length ? 'has-error' : ''"/>
                        </div>
                    </fieldset>
                    <button class="btn btn-success" type="submit" ng-click="$ctrl.sign();">
                        <i class="fa fa-check-circle-o"></i> {{ 'CATAPULTOPTIN_CONFIRM_SIGN' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRMATION MODAL -->
<div id="catapultOptinResume" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'CATAPULT_OPT_IN_RESUME' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'CATAPULT_OPT_IN_RESUME_TEXT' | translate }}</p>
                <li style="list-style: outside none none;"><b>{{ 'GENERAL_ACCOUNT' | translate }}:</b></li>
                <ul>
                    <li>
                        <b>{{ 'GENERAL_ADDRESS' | translate }}:</b><br> {{ $ctrl.formData.optinAddress }}
                    </li>
                    <br>
                    <li>
                        <b>{{ 'MNEMONIC' | translate }}:</b><br> <div class="mnemonic">{{ $ctrl.formData.optinMnemonic }}</div>
                    </li>
                    <br ng-show="$ctrl.formData.isMultisig">
                    <li ng-show="$ctrl.formData.isMultisig">
                        <b>{{ 'GENERAL_COSIGNATORIES' | translate }}:</b><br>
                        <span ng-repeat="cosig in $ctrl.formData.multisigAccount.meta.cosignatories">{{cosig.address}}<br></span>
                    </li>
                    <br ng-show="$ctrl.formData.isMultisig">
                </ul>

                <li style="list-style: outside none none;"><b>{{ 'GENERAL_NAMESPACES' | translate }}:</b>
                </li>
                <div ng-show="$ctrl.namespaces.length > 0">
                    <div ng-show="$ctrl.includeNamespaces">
                        <ul ng-repeat="namespace in $ctrl.namespaces">
                            <li class="list-group-item">{{namespace}}</li>
                        </ul>
                        <p class="nothing" ng-show="!$ctrl.namespaces.length">{{
                            'GENERAL_NO_RESULTS' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-left-important">
                <div>
                    <a id="symbol-wallet-download" class="btn btn-success" download="symbol-wallet.jpeg"
                       style="margin-bottom: 10px;">
                        <i class="fa fa-download"></i> {{'SIGNUP_COMMON_WALLET_WARNING_DOWNLOAD' | translate}}
                    </a>
                </div>
                <br>
                <div>
                    <input id="backup_confirm" type="checkbox" ng-model="$ctrl.formData.backupConfirm">
                    <label class="optin-label" for="backup_confirm"
                           ng-class="!$ctrl.formData.backupConfirm ? 'has-error': ''">{{
                        'CATAPULT_OPT_IN_CONFIRM_BACKUP' | translate }}</label>
                    <br>
                    <input id="understand_confirm" type="checkbox" ng-model="$ctrl.formData.understandConfirm">
                    <label class="optin-label" for="understand_confirm"
                           ng-class="!$ctrl.formData.understandConfirm ? 'has-error': ''">{{
                        'CATAPULT_OPT_IN_UNDERSTAND_FUNDS' | translate }}</label>
                    <br>
                    <input id="accept_and_read_terms" type="checkbox" ng-model="$ctrl.formData.acceptTerms">
                    <label class="optin-label" for="accept_and_read_terms"
                           ng-class="!$ctrl.formData.acceptTerms ? 'has-error': ''">{{'OPTIN_TAC_READ_ACCEPT' | translate }} <a href="https://nemplatform.com/wp-content/uploads/2020/09/Symbol-Terms-and-Conditions-for-XYM-9-Sep-2020.pdf" target="_blank">{{'OPTIN_TAC_TEXT' | translate}}</a></label>
                    <br>
                    <br>
                    <!-- Password Field -->
                    <fieldset class="form-group" ng-show="$ctrl._Wallet.algo !== 'trezor' && $ctrl._Wallet.algo !== 'ledger'">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label ng-class="!$ctrl.common.password.length ? 'has-error' : ''">{{ 'FORM_PASSWORD' | translate }}: </label>
                            </span>
                            <input class="form-control password" type="password" placeholder="{{ 'OPTIN_FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="$ctrl.common.password" ng-class="!$ctrl.common.password.length ? 'has-error' : ''"/>
                        </div>
                    </fieldset>

                    <button data-dismiss="catapultOptinResume" class="btn btn-success" type="submit"
                            ng-disabled="!$ctrl.formData.backupConfirm || !$ctrl.formData.understandConfirm || !$ctrl.formData.acceptTerms"
                            ng-click="$ctrl.send();">
                        <i class="fa fa-check-circle-o"></i> {{ 'CATAPULTOPTIN_CONFIRM_OPTIN' | translate }}
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
