<div class="signup-page">

  <div class="loading-overlay" ng-show="$ctrl.okPressed">
    <div class="loader text-center">
      <img src="images/logomark.png" class="loader-image"/>
      <p class="loading-text">{{ 'GENERAL_PROCESSING' | translate }}</p>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Create an Account</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li ng-class="{active: $ctrl._selectedType.type == 1}">
              <a ng-click="$ctrl.changeWalletType(1)">{{'SIGNUP_CREATE_WALLET_TITLE' | translate}}</a>
            </li>
            <li ng-class="{active: $ctrl._selectedType.type == 2}">
              <a ng-click="$ctrl.changeWalletType(2)">{{'SIGNUP_BRAIN_WALLET_TITLE' | translate}}</a>
            </li>
            <li ng-class="{active: $ctrl._selectedType.type == 3}">
              <a ng-click="$ctrl.changeWalletType(3)">{{'SIGNUP_PRIVATE_KEY_WALLET_TITLE' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-8 col-md-offset-2" ng-show="$ctrl._selectedType.type == 1">
        <!-- SIMPLE WALLET -->
        <form class="panel-body">
          <!-- WALLET NAME -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}: </label>
              </span>
              <input class="form-control"
                type="text"
                placeholder="{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.walletName"/>
            </div>
          </fieldset>
          <!-- SELECT NETWORK -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{'SIGNUP_NETWORK_SELECT' | translate}}: </label>
              </span>
              <select class="form-control"
                ng-model="$ctrl.network"
                ng-change="$ctrl.changeNetwork($ctrl.network)"
                ng-options="network.id as (network.id | toNetworkName) for network in $ctrl.networks">
                <option value="" disabled selected>{{'SIGNUP_NETWORK_SELECT' | translate}}</option>
              </select>
            </div>
          </fieldset>
          <!-- PASSWORD FIELD -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSWORD' | translate }}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_SIGNUP_PASSWORD_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.password"/>
            </div>
          </fieldset>
          <!-- PASSWORD FIELD CONFIRM -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSWORD_CONFIRM' | translate }}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_CONFIRM_PASSWORD_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.confirmPassword"/>
            </div>
          </fieldset>
          <!-- SIMPLE WALLET WARNING -->
          <p class="bg-info">
            <i class="fa fa-exclamation-triangle"></i>
            <span ng-bind-html="'SIGNUP_CREATE_WALLET_WARNING' | translate"></span>
          </p>
          <button class="btn btn-success pull-xs-right"
            type="submit" ng-click="$ctrl.createWallet()">
            {{'SIGNUP_CREATE_WALLET_BUTTON' | translate}}
          </button>
        </form>
      </div>

      <div class="col-md-8 col-md-offset-2" ng-show="$ctrl._selectedType.type == 2">
        <!-- BRAIN WALLET -->
        <form class="panel-body">
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}: </label>
              </span>
              <input class="form-control"
                type="text"
                placeholder="{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.walletName" />
            </div>
          </fieldset>
          <!-- SELECT NETWORK -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{'SIGNUP_NETWORK_SELECT' | translate}}: </label>
              </span>
              <select class="form-control" ng-model="$ctrl.network" ng-change="$ctrl.changeNetwork($ctrl.network)" ng-options="network.id as (network.id | toNetworkName) for network in $ctrl.networks"><option value="" disabled selected>{{'SIGNUP_NETWORK_SELECT' | translate}}</option></select>
            </div>
          </fieldset>
          <!-- PASSWORD FIELD -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSWORD' | translate }}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_PASSPHRASE_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.password" />
            </div>
          </fieldset>
          <!-- PASSWORD FIELD CONFIRM -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSWORD_CONFIRM' | translate }}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_CONFIRM_PASSPHRASE_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.confirmPassword" />
            </div>
          </fieldset>
          <!-- BRAIN WALLET WARNING -->
          <p class="bg-info">
            <i class="fa fa-exclamation-triangle"></i>
            <span ng-bind-html="'SIGNUP_BRAIN_WALLET_WARNING' | translate"></span>
          </p>
          <!-- CONFIRM BUTTON -->
          <button class="btn btn-success pull-xs-right"
            type="submit" ng-click="$ctrl.createBrainWallet()">
            {{'SIGNUP_BRAIN_WALLET_BUTTON' | translate}}
          </button>
        </form>
      </div>

      <div class="col-md-8 col-md-offset-2" ng-show="$ctrl._selectedType.type == 3">
        <!-- PRIVATE KEY WALLET -->
        <form class="panel-body">

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}: </label>
              </span>
              <input class="form-control"
                type="text"
                placeholder="{{'FORM_WALLET_NAME_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.walletName" />
            </div>
          </fieldset>
          <!-- ADDRESS TO ADD -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{'FORM_ADDRESS_FIELD_PLACEHOLDER' | translate}}: </label>
              </span>
              <input class="form-control"
                type="text"
                placeholder="{{'FORM_ADDRESS_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.address" />
            </div>
          </fieldset>
          <!-- PRIVATE KEY OF ADDRESS TO ADD -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{'FORM_PRIVATE_KEY_FIELD_PLACEHOLDER' | translate}}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_PRIVATE_KEY_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.privateKey" />
            </div>
          </fieldset>
          <!-- SELECT NETWORK -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{'SIGNUP_NETWORK_SELECT' | translate}}: </label>
              </span>
              <select class="form-control"
                ng-model="$ctrl.network"
                ng-change="$ctrl.changeNetwork($ctrl.network)"
                ng-options="network.id as (network.id | toNetworkName) for network in $ctrl.networks">
                <option value="" disabled selected>{{'SIGNUP_NETWORK_SELECT' | translate}}</option>
              </select>
            </div>
          </fieldset>
          <!-- PASSWORD FIELD -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSWORD' | translate }}: </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_SIGNUP_PASSWORD_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.password" />
            </div>
          </fieldset>
          <!-- PASSWORD FIELD CONFIRM -->
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <label>{{ 'FORM_PASSPHRASE_CONFIRM' | translate }}:  </label>
              </span>
              <input class="form-control"
                type="password"
                placeholder="{{'FORM_CONFIRM_PASSWORD_FIELD_PLACEHOLDER' | translate}}"
                ng-model="$ctrl.formData.confirmPassword" />
            </div>
          </fieldset>
          <!-- PRIVATE KEY WALLET WARNING -->
          <p class="bg-info">
            <i class="fa fa-exclamation-triangle"></i>
            <span ng-bind-html="'SIGNUP_PRIVATE_KEY_WALLET_WARNING' | translate"></span>
          </p>
          <!-- CONFIRM BUTTON -->
          <button class="btn btn-success pull-xs-right"
            type="submit"
            ng-click="$ctrl.createPrivateKeyWallet()">
            {{'SIGNUP_PRIVATE_KEY_WALLET_BUTTON' | translate}}
          </button>
        </form>
      </div>

    </div>
  </div>
  <a id="downloadWallet" target="_blank"></a>

</div>
