body {
    margin: 0;
    padding: 0;
    background: #fff
}

#root {
    height: 100%;
    width: 100%;
    font-family: Protipo;
    color: @color-black-lighter;
    background: #fff;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;

    color: @color-black-lighter;
}

p:last-child {
    margin-bottom: 40px;
}

h2 {
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;

    letter-spacing: -0.02em;

    color: @color-black-lighter;
    
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;

    color: @color-black-lighter;


    margin: 0;
    margin-bottom: 40px;
}

h4 {
    font-family: Protipo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: @color-black;

    margin: 0;
    margin-bottom: 10px;
}

a {
    display: block;
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    text-decoration-line: underline;

    color: #66B7E7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@media @screen-mobile {
    p {
        font-family: Protipo;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    
    }
    
    p:last-child {
        margin-bottom: 28px;
    }
    
    h2 {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    
        margin-bottom: 11px;
    }
    
    h3 {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    
        color: @color-black-lighter;
    
    
        margin: 0;
        margin-bottom: 11px;
    }
}