:root {
    --font-nem-body: 400 16px/24px Nunito Sans;
    --font-nem-title: 700 38px/53.2px Abhaya Libre;
    --font-nem-button-text: 700 14px/14px Nunito Sans;
    --font-nem-menu: 700 20px/20px Nunito Sans;
    --font-nem-menu-tablet: 700 18px/18px Nunito Sans;
    --font-mobil-title: 700 24px/33.6px Abhaya Libre;
    --font-mobile-body: 400 12px/18px Nunito Sans;
    --typography-nem-body-font-size: 16px;
    --typography-nem-body-text-decoration: none;
    --typography-nem-body-font-family: Nunito Sans;
    --typography-nem-body-font-weight: 400;
    --typography-nem-body-font-style: normal;
    --typography-nem-body-font-stretch: normal;
    --typography-nem-body-letter-spacing: 0;
    --typography-nem-body-line-height: 24px;
    --typography-nem-body-paragraph-indent: 0;
    --typography-nem-body-paragraph-spacing: 15px;
    --typography-nem-body-text-case: none;
    --typography-nem-title-font-size: 38px;
    --typography-nem-title-text-decoration: none;
    --typography-nem-title-font-family: Abhaya Libre;
    --typography-nem-title-font-weight: 700;
    --typography-nem-title-font-style: normal;
    --typography-nem-title-font-stretch: normal;
    --typography-nem-title-letter-spacing: -0.76px;
    --typography-nem-title-line-height: 53.2px;
    --typography-nem-title-paragraph-indent: 0;
    --typography-nem-title-paragraph-spacing: 0;
    --typography-nem-title-text-case: none;
    --typography-nem-button-text-font-size: 14px;
    --typography-nem-button-text-text-decoration: none;
    --typography-nem-button-text-font-family: Nunito Sans;
    --typography-nem-button-text-font-weight: 700;
    --typography-nem-button-text-font-style: normal;
    --typography-nem-button-text-font-stretch: normal;
    --typography-nem-button-text-letter-spacing: 0.7px;
    --typography-nem-button-text-line-height: 14px;
    --typography-nem-button-text-paragraph-indent: 0;
    --typography-nem-button-text-paragraph-spacing: 0;
    --typography-nem-button-text-text-case: uppercase;
    --typography-nem-menu-font-size: 20px;
    --typography-nem-menu-text-decoration: none;
    --typography-nem-menu-font-family: Nunito Sans;
    --typography-nem-menu-font-weight: 700;
    --typography-nem-menu-font-style: normal;
    --typography-nem-menu-font-stretch: normal;
    --typography-nem-menu-letter-spacing: 1px;
    --typography-nem-menu-line-height: 20px;
    --typography-nem-menu-paragraph-indent: 0;
    --typography-nem-menu-paragraph-spacing: 0;
    --typography-nem-menu-text-case: uppercase;
    --typography-nem-menu-tablet-font-size: 18px;
    --typography-nem-menu-tablet-text-decoration: none;
    --typography-nem-menu-tablet-font-family: Nunito Sans;
    --typography-nem-menu-tablet-font-weight: 700;
    --typography-nem-menu-tablet-font-style: normal;
    --typography-nem-menu-tablet-font-stretch: normal;
    --typography-nem-menu-tablet-letter-spacing: 0.9px;
    --typography-nem-menu-tablet-line-height: 18px;
    --typography-nem-menu-tablet-paragraph-indent: 0;
    --typography-nem-menu-tablet-paragraph-spacing: 0;
    --typography-nem-menu-tablet-text-case: uppercase;
    --typography-mobil-title-font-size: 24px;
    --typography-mobil-title-text-decoration: none;
    --typography-mobil-title-font-family: Abhaya Libre;
    --typography-mobil-title-font-weight: 700;
    --typography-mobil-title-font-style: normal;
    --typography-mobil-title-font-stretch: normal;
    --typography-mobil-title-letter-spacing: -0.48px;
    --typography-mobil-title-line-height: 33.6px;
    --typography-mobil-title-paragraph-indent: 0;
    --typography-mobil-title-paragraph-spacing: 0;
    --typography-mobil-title-text-case: none;
    --typography-mobile-body-font-size: 12px;
    --typography-mobile-body-text-decoration: none;
    --typography-mobile-body-font-family: Nunito Sans;
    --typography-mobile-body-font-weight: 400;
    --typography-mobile-body-font-style: normal;
    --typography-mobile-body-font-stretch: normal;
    --typography-mobile-body-letter-spacing: 0;
    --typography-mobile-body-line-height: 18px;
    --typography-mobile-body-paragraph-indent: 0;
    --typography-mobile-body-paragraph-spacing: 15px;
    --typography-mobile-body-text-case: none;
}