@color-green: #50B9AD;
@color-yellow: #FAB700;
@color-blue: #66B7E7;
@color-black: #000000;
@color-black-lighter: #0B0118;
@color-dark-blue: #0D155C;
@color-gray: #A8A6A6;

@screen-4k: ~"(min-width: 4000px)";
@screen-desktop: ~"(max-width: 3999.8px) and (min-width: 1200px)";
@screen-tablet: ~"(max-width: 1199.8px) and (min-width: 768px)";
@screen-mobile: ~"(max-width: 767.8px)";

@margin-base: 40px;
@margin-base-sm: 20px;

@margin-mobile-base: 28px;
@margin-mobile-base-sm: 16px;
