# github
!.github

# editors
*~
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# cpp
_build/
_temp/

# js
node_modules/
npm-*.log*
*.env

# python
*~
*.pch
*.pyc
__pycache__/
*.egg-info/
build/
dist/
.python-version
_generated/
working/

# java
target/
