.link {
    /* Depreciated/button_unbounded */

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #0D155C;

    background-color: transparent;
    border-style: none;

    padding: 13.8px 32px;

    cursor: pointer;
}

.link-arrow {
    fill: #0D155C;
    margin-left: 10px;
}