.link {
    /* Depreciated/button_unbounded */

    font-family: Carbon;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* darkmode/button/text_unbounded */

    color: #27C5F3;
    background-color: transparent;
    border-style: none;

    padding: 13.8px 32px;

    cursor: pointer;
}

.link-arrow {
    fill: #27C5F3;
}