$body-fonts: (
    xs: 400 12px/150% nunito sans,
    sm: 400 16px/150% nunito sans,
    md: 400 16px/150% nunito sans,
    lg: 400 30px/150% nunito sans
);

$h1-fonts: (
    xs: 700 32px/140% abhaya libre,
    sm: 700 50px/140% abhaya libre,
    md: 700 50px/140% abhaya libre,
    lg: 700 73px/140% abhaya libre
);

$h2-fonts: (
    xs: 700 24px/140% abhaya libre,
    sm: 700 38px/140% abhaya libre,
    md: 700 38px/140% abhaya libre,
    lg: 700 56px/140% abhaya libre
);

$h3-fonts: (
    xs: 700 18px/140% abhaya libre,
    sm: 700 28px/140% abhaya libre,
    md: 700 28px/140% abhaya libre,
    lg: 700 41px/140% abhaya libre
);

$h4-fonts: (
    xs: 700 13px/140% abhaya libre,
    sm: 700 21px/140% abhaya libre,
    md: 700 21px/140% abhaya libre,
    lg: 700 31px/140% abhaya libre
);

$button-fonts: (
    xs: 700 14px/14px nunito sans,
    sm: 700 14px/14px nunito sans,
    md: 700 14px/14px nunito sans,
    lg: 700 21.41px/21.41px nunito sans
);
